In [1]:
import pandas as pd

In [29]:
df = pd.DataFrame(columns=['serial-no','timestamp', 'x', 'y', 'z'])

In [30]:
df

Empty DataFrame
Columns: [serial-no, timestamp, x, y, z]
Index: []

In [31]:
data = {'serial-no': 'abc','timestamp':'timestamp', 'x': 123, 'y':456, 'z':789}
df.append(data, ignore_index=True)

  serial-no  timestamp    x    y    z
0       abc  timestamp  123  456  789

In [32]:
df

Empty DataFrame
Columns: [serial-no, timestamp, x, y, z]
Index: []

In [33]:
data

{'serial-no': 'abc', 'timestamp': 'timestamp', 'x': 123, 'y': 456, 'z': 789}

In [34]:
serial_no='124serial'
timestamp="sometime"
x=12
y=33
z=44

In [46]:
df = df.append({'serial-no': serial_no,'timestamp':timestamp, 'x': x, 'y':y, 'z':z}, ignore_index=True)
df = df.append({'serial-no': serial_no,'timestamp':timestamp, 'x': x, 'y':y, 'z':z}, ignore_index=True)
df

   serial-no timestamp   x   y   z
0  124serial  sometime  12  33  44
1  124serial  sometime  12  33  44
2  124serial  sometime  12  33  44
3  124serial  sometime  12  33  44
4  124serial  sometime  12  33  44